@model JobModel;

@{
    ViewData["Title"] = "Job Form";
}

<form id="job_form" method="post" action="/Home/JobSave">
    <input type="hidden" name="id" value="@Model.id" />
    <p><label for="name">Name: </label><input id="job_form_name" name="name" value="@Model.name" /></p>
    <p><button id="job_form_submit" type="submit">Submit</button></p>
</form>